<div class="collection-mobile-back" (click)="mobileFilterBack()">
  <span class="filter-back">
    <i class="fa fa-angle-left" aria-hidden="true"></i> back
</span>
</div>
<div class="collection-collapse-block border-0 open">
  <h3 class="collapse-block-title">Category</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <ul class="category-list">
        <li>
          <a [routerLink]="'/home/left-sidebar/collection/women'">
            <div class="category-side-panel">
              <div>
                <img class="category-side-panel-icon"  src="../../../../../assets/images/tools/product/13.jpg">
              </div>
              <div class="category-side-panel-label">
                <span class="detail">Food Display & Merchandising</span>
                <span class="amount"> (14)</span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a [routerLink]="'/home/left-sidebar/collection/women'" style="width: 100%;">
            <div class="category-side-panel">
              <div>
                <img class="category-side-panel-icon" src="../../../../../assets/images/tools/category/2.jpg">
              </div>
              <div class="category-side-panel-label">
                <span class="detail">Refrigeration Units</span>
                <span class="amount"> (140)</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
