@import '../../../../vendor/pace/pace-orange-min.css';
// @import '../../../../assets/scss/color1';

.pixelstrap a {
    color: #f7f7f7;
}
.pixelstrap a:hover {
    color: #ffa928;
}
.main-menu .menu-left .navbar i {
    color: #ffa928;
    color: #fff;
}

.main-menu .menu-left .navbar i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}