<!-- about section start-->
<section style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title3">
                    <h2 class="title-inner3">welcome to toolots</h2>
                    <div class="line"></div>
                </div>
                <div class="about-text">
                    <p>
                        Your marketplace and distribution channel for factory-direct industrial tools, machinery and technology.
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->