<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal quickviewm" id="toolots-modal-reviews" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" >
    <div class="modal-content quick-view-modal" >
      <div class="modal-body" style="padding-top: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 0.8; color: #999;">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row" style="overflow: scroll; max-height: 60vh">          
          <div class="col-lg-12  col-xs-12" style="background-color: #222; color: #fff; padding: 30px 20px 10px 20px;">
            <!-- <div class="quick-view-img">
              <img [src]="!variantImage ? product.pictures[0] : variantImage" alt="" class="img-fluid">
            </div> -->
            <h2 style="color: #fff;">Toolots Reviews</h2>
          </div>
          <div class="col-lg-12" >
            <div class="col-lg-12">
              <div class="reviews-topbar">
                <div>
                  <div class="rating three-star" style="font-size: 48px;">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star" style="color: #ffa220;"></i>
                      <span class="reviews-amount">1,209 Reviews</span>
                  </div>
                  
                </div>
                <a [routerLink]="" style="width: 180px; display: block; text-align: center; " class="btn btn-solid">write review</a>
              </div>
            </div>
            <hr>
            <div class="">
              <div class="mt-3 product-right product-reviews product-reviews-modal">
                    <div>
                        <h5>William McKinley</h5>
                        <div>
                            
                            <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star" style="color: #ffa220;"></i>
                            </div>
                            
                            <strong>Don't waste anymore time shopping, buy this.</strong>
                        </div>
                        <span style="color: #777777;">December 12, 2019</span>
                        <div class="review-content" >dard dummy text ever sLorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Precision Bottom mount refrigeration system with ETL.</div>
                    </div>
                    <hr>
                    <div>
                        <div><h5>Anna Smith</h5></div>
                        <div>
                        
                            <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star" style="color: #ffa220;"></i>
                            </div>
                            
                            <strong>This is a great refrigerator at an unbeatable price.</strong>
                        </div>
                        <span style="color: #777777;">January 1, 2019</span>
                        <div class="review-content">dard dummy text ever since the 1500s, when an THIS IS A MUST BUY popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Precision Bottom mount refrigeration system with ETL.</div>
                    </div>
                    <hr>
                    <div>
                        <div><h5>Jim Yang</h5></div>
                        <div>
                            <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <strong>The last refrigerator you'll ever need.</strong>
                        </div>
                        <span style="color: #777777;">December 12, 2019</span>
                        <div class="review-content" >dard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Precision Bottom mount refrigeration system with ETL.</div>
                    </div>
                    <hr>
                </div>
                <div class="mt-3 product-right product-reviews">
                    <div>
                        <h5>William McKinley</h5>
                        <div>
                            
                            <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            
                            <strong>Don't waste anymore time shopping, buy this.</strong>
                        </div>
                        <span style="color: #777777;">December 12, 2019</span>
                        <div class="review-content" >dard dummy text ever sLorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Precision Bottom mount refrigeration system with ETL.</div>
                    </div>
                    <hr>
                    <div>
                        <div><h5>Anna Smith</h5></div>
                        <div>
                        
                            <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            
                            <strong>This is a great refrigerator at an unbeatable price.</strong>
                        </div>
                        <span style="color: #777777;">January 1, 2019</span>
                        <div class="review-content">dard dummy text ever since the 1500s, when an THIS IS A MUST BUY popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Precision Bottom mount refrigeration system with ETL.</div>
                    </div>
                    <hr>
                    <div>
                        <div><h5>Jim Yang</h5></div>
                        <div>
                            <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <strong>The last refrigerator you'll ever need.</strong>
                        </div>
                        <span style="color: #777777;">December 12, 2019</span>
                        <div class="review-content" >dard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Precision Bottom mount refrigeration system with ETL.</div>
                    </div>
                    <hr>
                </div>
              <!-- <h2>{{product.name}}</h2>
              <h3>{{product.price | currency:productsService?.currency:'symbol'}} <del><span class="money">{{product.salePrice | currency:productsService?.currency:'symbol'}}</span></del> </h3>
              <ul class="color-variant" *ngIf="product.variants">
                <li [class]="variant.color" [class.active]="selectedColor == variant.images" (click)="changeVariantImage(variant.images)" *ngFor="let variant of product.variants"></li>
              </ul>
              <div class="border-product">
                <h6 class="product-title">product details</h6>
                <p>{{product.shortDetails}}</p>
              </div> -->
              <!-- <div class="product-description border-product">
                <div class="size-box" *ngIf="product.size">
                  <ul>
                    <li [ngClass]="{'active': selectedSize == size}" *ngFor="let size of product.size">
                      <a [routerLink]="" (click)="changeVariantSize(size)">{{size}}</a>
                    </li>
                  </ul>
                </div>
                <h6 class="product-title">quantity</h6>
                <div class="qty-box">
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button type="button" class="btn quantity-left-minus" (click)="decrement()" data-type="minus" data-field="">
                          <i class="ti-angle-left"></i>
                      </button>
                    </span>
                    <input type="text" name="quantity" disabled class="form-control input-number" value="{{counter}}">
                    <span class="input-group-prepend">
                      <button type="button" class="btn quantity-right-plus" (click)="increment()" data-type="plus" data-field="">
                          <i class="ti-angle-right"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Quick-view modal popup end-->
