<!-- about section start-->
<section style="padding-bottom: 70px; background-color: #fff;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="title3">
                    <h2 class="title-inner3">Here's what our customers are saying</h2>
                    <div class="line"></div>
                </div>
                <div class="col-lg-12">
                    <div class="row testimonial-container">
                        <div class="col-sm about-text text-center testimonial">
                            <div style="display: flex;">
                                <i class="fa fa-quote-right pr-2" style="color: #ffa928; font-size: 20px; padding-top: 5px;" aria-hidden="true"></i>
                                <p style="color: #222;">Intuitive and easy for someone who is not a developer to quickly configure—a huge advantage if you want something where the heavy lifting is abstracted away.</p>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div style='width: 16px; padding-right: 5px;'><hr style="border-width: 1px; border-color: #666;"></div>
                                <span>ALONZO ALDEN</span>
                            </div>
                        </div>
                        <div class="col-sm about-text text-center testimonial">
                            <div style="display: flex;">
                                <i class="fa fa-quote-right pr-2" style="color: #ffa928; font-size: 20px; padding-top: 5px;" aria-hidden="true"></i>
                                <p style="color: #222;">If you're in need of a great deal for Fork Lifts, Toolots is the place to go. Their service is wonderful and the prices are unbeatable!</p>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div style='width: 16px; padding-right: 5px;'><hr style="border-width: 1px; border-color: #666;"></div>
                                <span>WILLIAM MCKENZIE</span>
                            </div>
                        </div>
                        <div class="col-sm about-text text-center testimonial">
                            <div style="display: flex;">
                                <i class="fa fa-quote-right pr-2" aria-hidden="true" style="color: #ffa928; font-size: 20px; padding-top: 5px;"></i>
                                <p style="color: #222;">Intuitive and easy for someone who is not a developer to quickly configure—a huge advantage if you want something where the heavy lifting is abstracted away.</p>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div style='width: 16px; padding-right: 5px;'><hr style="border-width: 1px; border-color: #666;"></div>
                                <span>BILLY IDOL</span>
                            </div>
                        </div>
                    </div>
                    <div class="row testimonial-action">
                        <a [routerLink]="" [attr.data-target]="'#toolots-modal-reviews'" data-toggle="modal"
                            class="btn btn-solid">
                            Read our reviews
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->
<toolots-review-modal></toolots-review-modal>