<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal quickviewm" id="why-low-price-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" >
    <div class="modal-content quick-view-modal" >
      <div class="modal-body" style="padding-top: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="opacity: 1; color: #999;" style="right: 20px; top: 10px;">
          <span style="font-size: 30px; color: #aaa;" aria-hidden="true">&times;</span>
        </button>
        <div class="row" style="overflow: scroll; max-height: 60vh">          
          <div class="col-lg-12  col-xs-12" style="padding: 0 20px; background-color: #222; color: #fff; padding: 30px 20px 10px 20px;">
            <!-- <div class="quick-view-img">
              <img [src]="!variantImage ? product.pictures[0] : variantImage" alt="" class="img-fluid">
            </div> -->
            <h2 style="color: #fff;">Why is our price so low?</h2>
          </div>
          <div class="col-lg-12 text-center mt-5" >
            <!-- <div class="col-lg-12 text-center">
              <div class="reviews-topbar">
                <div>
                  <div class="rating three-star" style="font-size: 48px;">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star" style="color: #ffa220;"></i>
                      <span class="reviews-amount">1,209 Reviews</span>
                  </div>
                  
                </div>
                <a [routerLink]="" style="width: 180px; display: block; text-align: center; " class="btn btn-solid">write review</a>
              </div>
            </div> -->
            <img style="width: inherit" src="../../../../../assets/images/manufacturer-to-user.png">
            <hr>
            <div class="text-left">
                Our business model allows us to price products at these low prices. Toolots cuts out the middle men by working directly with manufacturers. We operate on the Manufacturer-to-User model, and we pass any savings straight to our customers. Toolots also carefully vets the manufacturers we work with to ensure quality; we make every effort to eliminate low-quality products from being listed on our platform. Try us out! We back our products with a 100%, 14-day money-back guarantee for the price of the product.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Quick-view modal popup end-->
